<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Fecha:</label>
            <p>{{ incident.created_at }}</p>
        </div>
        <div class="form-group">
            <label>Reportado por:</label>
            <p>{{ incident.user_name }}</p>
        </div>
        <div class="form-group">
            <label>Tipo de incidencia:</label>
            <p>{{ incident.type_name }}</p>
        </div>
        <div class="form-group">
            <label>Dirección:</label>
            <p>{{ incident.address }}</p>
        </div>
        <div class="form-group">
            <label>Comentario:</label>
            <p>{{ incident.comment }}</p>
        </div>
    </div>
    <div class="col-md-8">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>