<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            	<th>#</th>
                <th>Fecha</th>
                <th>Reportado por</th>
                <th>Tipo de incidencia</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="incident in incidents">
            	<td>{{ incident.id }}</td>
                <td>{{ incident.created_at }}</td>
                <td>{{ incident.user_name }}</td>
                <td>{{ incident.type_name }}</td>
                <td>{{ incident.address }}</td>
                <td><a ui-sref="dashboard.incidents.detail({incidentId: {{incident.id}}})" class="btn btn-info btn-xs">ver detalle</a></td>
            </tr>
        </tbody>
    </table>
</div>