<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Solicitud de presupuesto #{{quotationRequestId}} <a ui-sref="dashboard.quotation-requests.list" class="btn btn-primary pull-right">Volver</a></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <quotation-request-detail quotation-request-id="{{quotationRequestId}}"></quotation-request-detail>
    </div>
    <!-- /.col-lg-12 -->
</div>