<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reporte de Solicitudes de presupuesto</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" ng-controller="QuotationRequestsReportCtrl">
    
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px">

            <div class="alert alert-danger" ng-if="dateError">Las fechas deben de tener el formato DD-MM-YYYY. </div>

            <form class="form-inline text-left" role="form" ng-submit="doSearch()">
                <div class="form-group">
                    <label for="start_date">Desde</label>
                    <input type="text" class="form-control" id="start_date" ng-model="startDate" name="start_date">
                </div>
                <div class="form-group">
                    <label for="end_date">Hasta</label>
                    <input type="text" class="form-control" id="end_date" ng-model="endDate" name="end_date">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>

    <div class="row" ng-if="hasSearches">
        <div class="col-sm-12" id="bar-chart" style="margin-top:30px" ng-if="hasResults">
            <canvas id="bar" class="chart chart-bar" legend="true" data="requests.data" labels="requests.labels" series="requests.series" options="requests.options"></canvas>
        </div>
        <div class="col-sm-12 text-center" style="margin-top:30px" ng-hide="hasResults || isLoading">
            <h4 style="color:grey">No hay resultados para esta búsqueda...</h4>
        </div>

        <div class="col-sm-12 text-center" style="margin-top:30px" ng-show="isLoading">
            <img ng-src="img/loading.gif" class="img" alt="Loading..."/>
        </div>
    </div>
</div>
