<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Solicitudes de presupuesto <a ui-sref="dashboard.home" class="btn btn-primary pull-right">Volver</a></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <quotation-requests></quotation-requests>
    </div>
    <!-- /.col-lg-12 -->
</div>