<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="form-group">
            <label>Fecha:</label>
            <p>{{ quotationRequest.created_at }}</p>
        </div>
        <div class="form-group">
            <label>Solicitado por:</label>
            <p>{{ quotationRequest.name + ' ' + quotationRequest.last_name }}</p>
        </div>
        <div class="form-group">
            <label>Teléfono:</label>
            <p>{{ quotationRequest.phone }}</p>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <p>{{ quotationRequest.email }}</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>Distrito:</label>
            <p>{{ quotationRequest.province.name }}</p>
        </div>
        <div class="form-group">
            <label>Dirección:</label>
            <p>{{ quotationRequest.address }}</p>
        </div>
        <div class="form-group">
            <label>Comentario:</label>
            <p>{{ quotationRequest.comment }}</p>
        </div>
    </div>
</div>